<!-- <div class="image">
    <img class="img-fluid" src="https://png.pngtree.com/thumb_back/fh260/back_our/20190625/ourmid/pngtree-intelligent-trend-indicator-banner-design-image_260938.jpg" alt="" />


</div> -->

<div class="bg-text">
    <h1>Pension Management Portal</h1>
    <p>This app is to provide user friendly service that will save time to calculate various type of pensioner benfits</p>

    <a [routerLink]="['login']">
        <button mat-flat-button color="primary">Get Started </button>
    </a>
</div>